*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container-video{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #ff0000 20%, #ffbb00 50%, #ff0000 100%);
}
.container-video video{
    width: 95%;
    height: 95%;
    border: 2px solid #000000;
    border-radius: 50%;
    object-fit: cover;
    background-color: #000000;
}
button, body, #video-grid{
    -webkit-app-region: drag;
}

@keyframes animated{
    to{
        transform: rotate(360deg);
    }
}